<!DOCTYPE html>
<html class="ios page-ready" data-dpr="3" style="font-size: 25.875px;">
<head>
    <meta charset="utf-8">
    <style>
        .test{color:red;}
    </style>
</head>
<body>
<h1>hello world<h1>
    <!--<script>-->
        <!--function ce(name,txt) {-->
            <!--var el = document.createElement(name);-->
            <!--el.innerHTML = txt;-->
            <!--return el;-->
        <!--}-->
        <!--function aa(aname,val) {-->
            <!--var att = document.createAttribute(aname);-->
            <!--att.value = val;-->
            <!--return att;-->
        <!--}-->
        <!--function sa(obj) {-->
            <!--for(var i = 0;i<arguments.length-1;i++) obj.setAttributeNode(arguments[i+1]);-->
            <!--document.body.appendChild(obj);-->
        <!--}-->
        <!--sa(ce('H1','测试'),aa('class','test'),aa('role','0'),aa('name','wuwu'));-->
    <!--</script>-->
</body>
</html>