<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- For Resposive Device -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- For Window Tab Color -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2c2c2c">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#2c2c2c">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">
<title>About</title>
<!-- Main style sheet -->
<link rel="stylesheet" type="text/css" href="/dream/css/style.css">
<!-- responsive style sheet -->
<link rel="stylesheet" type="text/css" href="/dream/css/responsive.css">
<!-- Theme-Color css -->
<link rel="stylesheet" id="jssDefault" href="/dream/css/color.css">
<!-- Fix Internet Explorer ______________________________________-->
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="vendor/html5shiv.js"></script>
	<script src="vendor/respond.js"></script>
<![endif]-->
	<style>
		.switcher .theme-demo li{
			width: 100%!important;
		}
	</style>
</head>
<body>
<div class="main-page-wrapper">
	<!-- ===================================================
		Loading Transition
	==================================================== -->
	<div id="loader-wrapper">
		<div id="loader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- ==================== Style Switcher ==================== -->
	<div class="switcher">
		<!-- Switcher button -->
		<div class="switch-btn">
			<button><i class="fas fa-cog fa-spin"></i></button>
		</div>

		<!-- switcher body -->
		<div class="switch-menu">
			<h5 class="title">联系方式</h5>
			<!-- Theme color changer -->
			<div class="switcher-container">
				<h5>qq群号:941207031</h5>
				<!--		<ul id="styleOptions" title="Switch Color" class="clearfix">
							<li><a href="javascript: void(0)" data-theme="/dream/color" class="color1"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-2" class="color2"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-3" class="color3"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-4" class="color4"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-5" class="color5"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-6" class="color6"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-7" class="color7"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-8" class="color8"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-9" class="color9"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-10" class="color10"></a></li>
						</ul>-->
				<!--<h5>模板</h5>-->
				<ul class="theme-demo clearfix">
					<!--<li>
						<div class="img-box">
							<a href="/dream/index/aboutme/">
								<img src="/dream/images/home/10.png" alt=""></a>
						</div>
						<h6>关于我们</h6>
					</li>-->
					<li>
						<div class="img-box">
							<a href="javascript:void(0)">
								<img src="/dream/images/1540711685655.png" alt=""></a>
						</div>
						<h6>二维码</h6>
					</li>
				</ul>
			</div>
		</div> <!-- /switch-menu -->
	</div> <!-- /.switcher -->

	<!-- ===================================================
		About Me Wrapper
	==================================================== -->
	<div class="about-me-wrapper">
		<div class="back-to-home"><a href="/dream/index/index"><i class="flaticon-left-arrow"></i> 回到主页</a></div>
		<div class="main-text-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-xl-7 col-lg-8 col-12">
						<h2>我们要做的事情</h2>
						<h3></h3>
						<p>
							这是一段关于我们的代言,我们是一个因为梦想而聚集起来的团队
							和你们一样，我们有过迷茫,有过热血，有过想去做一件事情证明自己的冲动，
							于是，我们开始了，
							的确和大多数人一样，刚开始做的时候确实有点不知道如何是好
							总是担心这个又在害怕那个，但是还好，我们总算迈出了第一步
							因为如果你迈出了第一步，其实就是已经证明，你已经克服了最困难的事情
							而节接下来的每一步就是向着自己目标，向着自己方向走下去
							其实我们的目标特别简单，
							我始终相信你们是有创造力的，这也是我们团队集体商量讨论的结果
							而我们就是想让你们的想法有个能真正展示的地方.
						</p>
				<!--		<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="contact.html"><i class="fas fa-at"></i></a></li>
						</ul>
					</div>-->
				</div>
			</div>
		</div>
	</div> <!-- /.about-me-wrapper -->
<!-- Optional JavaScript _____________________________  -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- jQuery -->
<script src="/dream/vendor/jquery.2.2.3.min.js"></script>
<!-- Popper js -->
<script src="/dream/vendor/popper.js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/dream/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Style-switcher  -->
<script src="/dream/vendor/jQuery.style.switcher.min.js"></script>
<!-- jquery-easy-ticker-master -->
<script src="/dream/vendor/jquery-easy-ticker-master/jquery.easy-ticker.min.js"></script>
<!-- jquery easing -->
<script src="/dream/vendor/jquery.easing.1.3.js"></script>
<!-- Font Awesome -->
<script src="/dream/fonts/font-awesome/fontawesome-all.min.js"></script>
<!-- menu  -->
<script src="/dream/vendor/menu/src/js/jquery.slimmenu.js"></script>
<!-- owl.carousel -->
<script src="/dream/vendor/owl-carousel/owl.carousel.min.js"></script>
<!-- Fancybox -->
<script src="/dream/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
<!-- Youtube Video -->
<script src="/dream/vendor/jquery.fitvids.js"></script>
<!-- Masonary js -->
<script src="/dream/vendor/masonry.pkgd.min.js"></script>

<!-- Theme js -->
<script src="/dream/js/theme.js"></script>
	</div> <!-- /.main-page-wrapper -->
</div>
</body>
</html>
