<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- For Resposive Device -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- For Window Tab Color -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2c2c2c">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#2c2c2c">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">
<title>Home</title>
<!-- Main style sheet -->
<link rel="stylesheet" type="text/css" href="/dream/css/style.css">
<!-- responsive style sheet -->
<link rel="stylesheet" type="text/css" href="/dream/css/responsive.css">
<!-- Theme-Color css -->
<link rel="stylesheet" id="jssDefault" href="/dream/css/color.css">
<!-- Fix Internet Explorer ______________________________________-->
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="/dream/vendor/html5shiv.js"></script>
	<script src="/dream/vendor/respond.js"></script>
<![endif]-->
	<style>
		.switcher .theme-demo li{
			width: 100%!important;
		}
	</style>
</head>
<body>
<div class="search-box" id="searchWrapper">
	<div id="close-button"></div>
	<div class="container">
		<form action="#">
			<div class="greeting-text"><span class="greeting"></span></div>
			<div class="input-wrapper">
				<input type="text" placeholder="type your keyword" autofocus>
			</div>
		</form>
	</div>
</div> <!-- /.search-box -->
<div class="main-page-wrapper">
	<!-- ===================================================
		Loading Transition
	==================================================== -->
	<div id="loader-wrapper">
		<div id="loader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- 旁边的转动设置 -->
	<div class="switcher">
		<!-- 切换按钮 -->
		<div class="switch-btn">
			<button><i class="fas fa-cog fa-spin"></i></button>
		</div>
		<!-- switcher body -->
		<div class="switch-menu">
			<h5 class="title">联系方式</h5>
			<!-- Theme color changer -->
			<div class="switcher-container">
				<h5>qq群号:941207031</h5>
				<!--		<ul id="styleOptions" title="Switch Color" class="clearfix">
							<li><a href="javascript: void(0)" data-theme="/dream/color" class="color1"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-2" class="color2"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-3" class="color3"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-4" class="color4"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-5" class="color5"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-6" class="color6"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-7" class="color7"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-8" class="color8"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-9" class="color9"></a></li>
							<li><a href="javascript: void(0)" data-theme="color-10" class="color10"></a></li>
						</ul>-->
				<!--<h5>模板</h5>-->
				<ul class="theme-demo clearfix">
					<!--<li>
						<div class="img-box">
							<a href="/dream/index/aboutme/">
								<img src="/dream/images/home/10.png" alt=""></a>
						</div>
						<h6>关于我们</h6>
					</li>-->
					<li>
						<div class="img-box">
							<a href="javascript:void(0)">
								<img src="/dream/images/1540711685655.png" alt=""></a>
						</div>
						<h6>二维码</h6>
					</li>
				</ul>
			</div>
		</div> <!-- /switch-menu -->
	</div> <!-- /.switcher -->
<!--头部-->
	<div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12">
					<div class="news-bell">Recent Post :</div>
					<div class="breaking-news easyTicker">
						<div class="wrapper">
							<!--这里是上面需要滚动的部分-->
							<div class="list">
								<a href="#">
									梦想是一个值得我们去追逐的目标
								</a>
							</div>
							<div class="list">
								<a href="#">
										尽管头破血流,那是我奋斗过的见证
								</a>
							</div>
							<div class="list">
								<a href="#">
										这个世界就算你不前进就已经后退了
								</a>
							</div>
						</div> <!-- /.wrapper -->
					</div> <!-- /.breaking-news -->
				</div>
				<!--<div class="col-lg-4 col-12">
					<ul class="social-icon text-right">
						<li class="icon"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="icon"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="icon"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li class="icon"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="search-button">
							<button class="search" id="search-button"><i class="fas fa-search"></i></button>
						</li>
					</ul>
				</div>-->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.top-header -->
	<header class="theme-main-header">
		<div class="container">
			<div class="content-holder clearfix">
				<div class="logo">
					<a href="javascript:void(0)">
						<!--<img src="/dream/images/logo/logo.png" alt="">-->
					</a>
				</div>
				<!--这是页面下拉时候出现在上方的标题-->
				<div class="menu-wrapper">
					<nav id="mega-menu-holder" class="clearfix">
					   <ul class="clearfix">
						  <li><a href="index.html">主页</a></li>
						  <li><a href="/dream/index/aboutme">关于我们</a></li>
					   </ul>
					</nav> <!-- /#mega-menu-holder -->
				</div> <!-- /.menu-wrapper -->
			</div> <!-- /.content-holder -->
		</div> <!-- /.container -->
	</header> <!-- /.theme-main-header -->
	<!--主要类容-->
	<div class="theme-banner-section-one section-margin-bottom">
		<div id="P_masterslider" class="master-slider-parent ms-panorama ms-parent-id-30" >
			<div id="main-slider-one" class="master-slider ms-skin-default" >
				<div class="ms-slide" data-delay="25" data-fill-mode="fill" >
					<img class="ms-layer"
						 src="/dream/images/blank.gif"
						 data-src="/dream/images/home/panaroma1.jpg"
						 alt=""
						 style=""
						 data-effect="t(false,850,n,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="30200"
						 data-ease="linear"
						 data-parallax="6"
						 data-type="image"
						 data-offset-x="-519"
						 data-offset-y="-1"
						 data-origin="mc"
						 data-position="normal" />
					<div class="ms-layer main-heading"
						 style="font-size: 25px!important;"
						 data-effect="t(true,n,20,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="3000"
						 data-delay="400"
						 data-ease="easeOutQuint"
						 data-parallax="60"
						 data-offset-x="115"
						 data-offset-y="-95"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="auto"></div>
					<div class="ms-layer author-layer"
						 style=""
						 data-effect="t(true,n,50,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="1500"
						 data-ease="easeOutQuint"
						 data-parallax="120"
						 data-offset-x="120"
						 data-offset-y="-33"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="666"></div>
					<!--<div class="ms-layer main-text"
						 style="height: 12px!important;"
						 data-effect="t(true,n,50,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="2500"
						 data-ease="easeOutQuint"
						 data-parallax="120"
						 data-offset-x="120"
						 data-offset-y="35"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="450"></div>-->
				<!--	<div class="ms-layer read-more"
						 style=""
						 data-effect="t(true,n,n,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="3500"
						 data-ease="easeOutQuint"
						 data-parallax="80"
						 data-offset-x="120"
						 data-offset-y="90"
						 data-origin="ml"
						 data-position="normal" ><a href="#"></a></div>-->
				</div>
				<div class="ms-slide" data-delay="25" data-fill-mode="fill" >
					<img class="ms-layer"
						 src="/dream/images/blank.gif"
						 data-src="/dream/images/home/panaroma2.jpg"
						 alt=""
						 style=""
						 data-effect="t(false,850,n,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="30000"
						 data-ease="linear"
						 data-parallax="6"
						 data-type="image"
						 data-offset-x="-630"
						 data-offset-y="0"
						 data-origin="mc"
						 data-position="normal" />
					<!----------------滚动一结束--------------------------------->
					<div class="ms-layer main-heading"
						 style=""
						 data-effect="t(true,n,20,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="3000"
						 data-delay="400"
						 data-ease="easeOutQuint"
						 data-parallax="60"
						 data-offset-x="115"
						 data-offset-y="-95"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="auto">
					</div>
					<div class="ms-layer author-layer"
						 style=""
						 data-effect="t(true,n,50,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="1500"
						 data-ease="easeOutQuint"
						 data-parallax="120"
						 data-offset-x="120"
						 data-offset-y="-33"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="666"></div>
<!--					<div class="ms-layer main-text"
						 style=""
						 data-effect="t(true,n,50,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="2500"
						 data-ease="easeOutQuint"
						 data-parallax="120"
						 data-offset-x="120"
						 data-offset-y="35"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="450"></div>-->
					<div class="ms-layer read-more"
						 style=""
						 data-effect="t(true,n,n,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="3500"
						 data-ease="easeOutQuint"
						 data-parallax="80"
						 data-offset-x="120"
						 data-offset-y="90"
						 data-origin="ml"
						 data-position="normal" ><a href="#"></a></div>
				</div>
			</div> <!-- /#main-slider-one -->
		</div>
	</div> <!-- /.theme-banner-section-one -->
		<!--
	=============================================
		Main Blog Post Wrapper
	============================================== 
	-->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-12 blog-grid-style hover-effect-one">
				<!--模板1-->
				<div class="single-blog-post">
					<div class="image-box"><img src="/dream/images/blog/1.jpg" alt=""></div>
					<div class="post-meta-box bg-box">
						
						<ul class="author-meta clearfix">
							<li class="date"><a href="#">部门</a></li>
							<li class="date"><a href="#">模板</a></li>
						</ul>
						<!--开始-->
						<h4 class="title"><a href="#">这可能是你为你部门设计的一个宣传页</a></h4>
						<!--必要功能-->
						<ul class="share-meta clearfix">
							<li><a href="#"><i class="icon flaticon-comment"></i>爱好</a></li>
							<li><a href="#"><i class="icon flaticon-like-heart"></i>喜欢</a></li>
							<li class="share-option">
								<button><i class="icon flaticon-arrows"></i> 分享</button>
								<ul class="share-icon">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</li> <!-- /.share-option -->
						</ul>
						<!--结束-->
						<p style="font-size: 16px">
							在这里我们可以随时更新部门里面需要通知的事情
							也可以记录你和你们部门成员在一起的点点滴滴
							在这里，部门里面任何成员都可以天马行空，集思广益
							共同打造一个属于你们部门特有的网页
						</p>
					</div> <!-- /.post-meta-box -->
				</div> <!-- /.single-blog-post -->
				<!--模板2-->
				<div class="single-blog-post">
					<div class="image-box"><img src="/dream/images/blog/2.jpg" alt=""></div>
					<div class="post-meta-box bg-box">
						<ul class="author-meta clearfix">
							<li class="date"><a href="#"></a></li>
							<li class="date"><a href="#"></a></li>
						</ul>
						<h4 class="title"><a href="#">这可能是你和你喜欢的人一起旅行的照片</a></h4>
						<ul class="share-meta clearfix">
							<li><a href="#"><i class="icon flaticon-comment"></i>爱好 (03)</a></li>
							<li><a href="#"><i class="icon flaticon-like-heart"></i>喜欢(05)</a></li>
							<li class="share-option">
								<button><i class="icon flaticon-arrows"></i> 分享</button>
								<ul class="share-icon">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</li> <!-- /.share-option -->
						</ul>
						<p>
							喜欢有时候不需要千言万语,只需要一个眼神或者是一张图片足以告诉他(她)
							那时候留下的点点滴滴,一分一秒都可以由你来设计怎么告诉他，
							大学时候的感情是青涩的,但那时候我们的想法是最多的，如果你没有办法用言语来告诉他你的想法，
							那就用行动来证明
						</p>
					</div> <!-- /.post-meta-box -->
				</div> <!-- /.single-blog-post -->
				<!--模板3-->
				<div class="single-blog-post">
					<div class="image-box"><img src="/dream/images/blog/3.jpg" alt=""></div>
					<div class="post-meta-box bg-box">
						<ul class="author-meta clearfix">
							<li class="date"><a href="#">艺术</a></li>
							<li class="date"><a href="#">模板</a></li>
						
						</ul>
						<h4 class="title"><a href="#">这可能是你呕心沥血的一件作品</a></h4>
						<ul class="share-meta clearfix">
							<li><a href="#"><i class="icon flaticon-comment"></i>爱好 (13)</a></li>
							<li><a href="#"><i class="icon flaticon-like-heart"></i>喜欢 (25)</a></li>
							<li class="share-option">
								<button><i class="icon flaticon-arrows"></i>分享(03)</button>
								<ul class="share-icon">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</li> <!-- /.share-option -->
						</ul>
						<p>
							作为一名大学生应该是富有创造性的,但是我们往往设计出来的作品却无人问津，
							那这里就是展示你真正的平台，你可以在这里放上你的作品样式，并加以说明，
							没有人天生是没有创造力的，只是缺少一个向真正懂你的人展示的机会
						</p>
					</div> <!-- /.post-meta-box -->
				</div> <!-- /.single-blog-post -->
				<!--模板4-->
				<!--<div class="single-blog-post">
					<div class="image-box"><img src="/dream/images/blog/4.jpg" alt=""></div>
					<div class="post-meta-box bg-box">
						<ul class="author-meta clearfix">
							<li class="date"><a href="#"></a></li>
							<li class="date"><a href="#"></a></li>
						</ul>
						<h4 class="title"><a href="#">This is a standard post with an image</a></h4>
						<ul class="share-meta clearfix">
							<li><a href="#"><i class="icon flaticon-comment"></i>Comments (07)</a></li>
							<li><a href="#"><i class="icon flaticon-like-heart"></i>Likes (10)</a></li>
							<li class="share-option">
								<button><i class="icon flaticon-arrows"></i>(01) Shares</button>
								<ul class="share-icon">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</li> &lt;!&ndash; /.share-option &ndash;&gt;
						</ul>
						<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
					</div> &lt;!&ndash; /.post-meta-box &ndash;&gt;
				</div>  /.single-blog-post -->
				<!--模板5-->
				<!--<div class="single-blog-post">
					<div class="image-box"><img src="/dream/images/blog/9.jpg" alt=""></div>
					<div class="post-meta-box bg-box">
						<ul class="author-meta clearfix">
							<li class="tag"><a href="#">Art</a></li>
							<li class="date"><a href="#">10 may , 2018</a></li>
						</ul>
						<h4 class="title"><a href="#">This is a standard post with an image</a></h4>
						<ul class="share-meta clearfix">
							<li><a href="#"><i class="icon flaticon-comment"></i>Comments (02)</a></li>
							<li><a href="#"><i class="icon flaticon-like-heart"></i>Likes (01)</a></li>
							<li class="share-option">
								<button><i class="icon flaticon-arrows"></i>Share</button>
								<ul class="share-icon">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</li> &lt;!&ndash; /.share-option &ndash;&gt;
						</ul>
						<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
					</div> &lt;!&ndash; /.post-meta-box &ndash;&gt;
				</div>  /.single-blog-post -->
			<!--模板6-->
					<div class="single-blog-post">
					<div class="image-box"><img src="/dream/images/blog/10.jpg" alt=""></div>
					<div class="post-meta-box bg-box">
						<ul class="author-meta clearfix">
							<li class="date"><a href="#">创业</a></li>
							<li class="date"><a href="#">模板</a></li>
						</ul>
						<h4 class="title"><a href="#">这是一个关于创业的宣传页</a></h4>
						<ul class="share-meta clearfix">
							<li><a href="#"><i class="icon flaticon-comment"></i>爱好 (10)</a></li>
							<li><a href="#"><i class="icon flaticon-like-heart"></i>喜欢 (15)</a></li>
							<li class="share-option">
								<button><i class="icon flaticon-arrows"></i>(05) 分享</button>
								<ul class="share-icon">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</li> <!-- /.share-option -->
						</ul>
						<p>
						有时候我们有个很好的项目，却因为宣传原因，始终没有很好的效果，
						又或许在宣传上面投入的太多，导致入不敷出
						当然这些现在都可以解决，而你只需要有个比较好的，属于你自己的广告设计，
						就可以轻松让别人记住你，当然你得有自己想法 ( *^_^* )
						</p>
					</div> <!-- /.post-meta-box -->
				</div> <!-- /.single-blog-post -->
<!--j结束-->
				<!--<div class="theme-pagination text-center">
					<ul class="clearfix">
						<li><a href="#"><i class="icon flaticon-left-arrow"></i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#"><i class="icon flaticon-right-arrow"></i></a></li>
					</ul>
				</div> &lt;!&ndash; /.theme-pagination &ndash;&gt;-->
			</div> <!-- /.col- -->
			<!-- ======================== Theme Sidebar =============================== -->
			<div class="col-lg-4 col-md-7 col-12 theme-main-sidebar">
				<div class="sidebar-box bg-box about-me">
					<h6 class="sidebar-title">关于团队</h6>
					<img src="/dream/images/home/1.jpg" alt="">
					<p>
					   我们是一群怀揣着梦想的大学生,做这个页面也是大家一起商量的结果，
						我们想有一个大学生自己的平台
						大家可以在这里集思广益
						这就是我们做这个的初衷，因为我们始终认为
						我们这一代是富有创造力的一代
						是敢于拼搏的一代，并不应该随波逐流，而我们只是缺少一个机会，展示我们的机会
					</p>
					<div class="clearfix"><img src="/dream/images/home/sign.png" alt="" class="signature float-right"></div>
				</div> <!-- /.about-me -->
				
				<div class="sidebar-box bg-box sidebar-tags">
					<h6 class="sidebar-title">标签</h6>
					<ul class="clearfix">
						<li><a href="#">告白</a></li>
						<li><a href="#">生活没有彩排，每天都是现场直播</a></li>
						
						<li><a href="#">部门宣传</a></li>
						<li><a href="#">有没有好的想法在于你敢不敢迈出第一步</a></li>
						
						<li><a href="#">创业构想</a></li>
						
						<li><a href="#">艺术展示</a></li>
						
						<li><a href="#">生活方式</a></li>
						
						<li><a href="#">热血</a></li>
						<li><a href="#">想法 </a></li>
						<li><a href="#">奋斗</a></li>
						<li><a href="#">该为自己疯狂打call了</a></li>
					</ul>
				</div> <!-- /.sidebar-tags -->
				
				<div class="sidebar-box bg-box sidebar-categories">
					<h6 class="sidebar-title">关于想法</h6>
					<ul>
						<li><a href="#">部门宣传:&nbsp;&nbsp;$12</a></li>
						<li><a href="#">告白页面:&nbsp;&nbsp;$10</a></li>
						<li><a href="#">创业推广:&nbsp;&nbsp;$18</a></li>
						<li><a href="#">作品展示:&nbsp;&nbsp;$5</a></li>
						<li><a href="#">个人博客:&nbsp;&nbsp;$13</a></li>
						<li><a href="#">自定义:&nbsp;&nbsp;根据具体方案而定</a></li>
				
					</ul>
				</div> <!-- /.sidebar-categories -->
				<!--<div class="sidebar-box bg-box sidebar-trending-post">
					<h6 class="sidebar-title">Trending Post</h6>
					<div class="single-trending-post clearfix">
						<img src="/dream/images/blog/5.jpg" alt="" class="float-left">
						<div class="post float-left">
							<h6><a href="#">New Benefits For Small Business </a></h6>
							<ul>
								<li class="tag">lifestyle</li>
								<li class="date">16 march</li>
							</ul>
						</div> &lt;!&ndash; /.post &ndash;&gt;
					</div> &lt;!&ndash; /.single-trending-post &ndash;&gt;
					<div class="single-trending-post clearfix">
						<img src="/dream/images/blog/6.jpg" alt="" class="float-left">
						<div class="post float-left">
							<h6><a href="#">New Benefits For Small Business </a></h6>
							<ul>
								<li class="tag">art</li>
								<li class="date">15 march</li>
							</ul>
						</div> &lt;!&ndash; /.post &ndash;&gt;
					</div> &lt;!&ndash; /.single-trending-post &ndash;&gt;
					<div class="single-trending-post clearfix">
						<img src="/dream/images/blog/7.jpg" alt="" class="float-left">
						<div class="post float-left">
							<h6><a href="#">New Benefits For Small Business </a></h6>
							<ul>
								<li class="tag">travel</li>
								<li class="date">13 march</li>
							</ul>
						</div> &lt;!&ndash; /.post &ndash;&gt;
					</div> &lt;!&ndash; /.single-trending-post &ndash;&gt;
					<div class="single-trending-post clearfix">
						<img src="/dream/images/blog/8.jpg" alt="" class="float-left">
						<div class="post float-left">
							<h6><a href="#">New Benefits For Small Business </a></h6>
							<ul>
								<li class="tag">life</li>
								<li class="date">10 march</li>
							</ul>
						</div> &lt;!&ndash; /.post &ndash;&gt;
					</div> &lt;!&ndash; /.single-trending-post &ndash;&gt;
				</div> &lt;!&ndash; /.sidebar-trending-post &ndash;&gt;-->
	<!--			<div class="sidebar-box bg-box sidebar-categories">
					<h6 class="sidebar-title">Archives</h6>
					<ul>
						<li><a href="#">May 2018</a></li>
						<li><a href="#">April 2018</a></li>
						<li><a href="#">March 2018</a></li>
						<li><a href="#">February 2018</a></li>
						<li><a href="#">January 2018</a></li>
						<li><a href="#">December 2107</a></li>
						<li><a href="#">November 2017</a></li>
						<li><a href="#">October 2017</a></li>
					</ul>
				</div> &lt;!&ndash; /.sidebar-categories &ndash;&gt;-->
					<div class="sidebar-box bg-box sidebar-tags">
					<h6 class="sidebar-title">  联系方式</h6>
					<ul class="clearfix">
						<li><a href="#">  qq群:&nbsp;&nbsp;941207031  </a></li>
						<li>
							  如果大家有好的想法,可以加群讨论,
							  我们本着互联网,开放,
							 共享的心态可以在这里面集思广益
						</li>
					</ul>
				</div> <!-- /.sidebar-tags -->
			<!--	<div class="sidebar-box bg-box sidebar-newsletter">
					<h6 class="sidebar-title">newsletter</h6>
					<form action="#">
						<input type="email" placeholder="Your email address" required>
						<button class="theme-button-one">Sign up</button>
					</form>
				</div>  /.sidebar-newsletter -->
			</div> <!-- /.theme-main-sidebar -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
	<!--
	=====================================================
		Footer
	=====================================================
	-->
	<footer class="theme-footer">
		<div class="container">
		<!--	<div class="logo"><a href="index.html"><img src="images/logo/logo.png" alt=""></a></div>
			<p class="footer-text">Blog and Portfolio Theme</p>
			<ul class="social-icon">
				<li class="icon"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li class="icon"><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li class="icon"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
				<li class="icon"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
			</ul>-->
			<p class="copyright">Copyright &copy;
			   逐梦团队版权所有
			</p>
		</div> <!-- /.container -->
	</footer> <!-- /.theme-footer -->
	<button class="scroll-top tran3s">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</button>
<!-- Optional JavaScript _____________________________  -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- jQuery -->
<script src="/dream/vendor/jquery.2.2.3.min.js"></script>
<!-- Popper js -->
<script src="/dream/vendor/popper.js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/dream/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Style-switcher  -->
<script src="/dream/vendor/jQuery.style.switcher.min.js"></script>
<!-- jquery-easy-ticker-master -->
<script src="/dream/vendor/jquery-easy-ticker-master/jquery.easy-ticker.min.js"></script>
<!-- jquery easing -->
<script src="/dream/vendor/jquery.easing.1.3.js"></script>
<!-- Font Awesome -->
<script src="/dream/fonts/font-awesome/fontawesome-all.min.js"></script>
<!-- Master Slider -->
<script src="/dream/vendor/masterslider/masterslider.min.js"></script>
<!-- menu  -->
<script src="/dream/vendor/menu/src/js/jquery.slimmenu.js"></script>
<!-- owl.carousel -->
<script src="/dream/vendor/owl-carousel/owl.carousel.min.js"></script>
<!-- Fancybox -->
<script src="/dream/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
<!-- Youtube Video -->
<script src="/dream/vendor/jquery.fitvids.js"></script>
<!-- Theme js -->
<script src="/dream/js/theme.js"></script>
</div> <!-- /.main-page-wrapper -->
</body>
</html>
